<!-- Import svg objects -->
<div id="svg-imported-shapes" class="hide translucent">
    <object class="svg hide" id="svgText" type="image/svg+xml" data=<%=require("../assets/svg/title1WhiteOnWhite3.svg")%>>
        <h1>Your browser doesnt support svg</h1>
    </object>
    <object class="svg hide" id="box1" type="image/svg+xml" data=<%=require("../assets/svg/box.svg")%>>
        <h1>Your browser doesnt support svg</h1>
    </object>
    <object class="svg hide" id="box2" type="image/svg+xml" data=<%=require("../assets/svg/box2.svg")%>>
        <h1>Your browser doesnt support svg</h1>
    </object>
    <object class="svg hide" id="box3" type="image/svg+xml" data=<%=require("../assets/svg/box3.svg")%>>
        <h1>Your browser doesnt support svg</h1>
    </object>
    <object class="svg hide" id="box4" type="image/svg+xml" data=<%=require("../assets/svg/box4b.svg")%>>
        <h1>Your browser doesnt support svg</h1>
    </object>
</div>

<!-- Intro animation canvas -->
<div id="home-section-wrapper">
    <svg id="svg-viewbox-tests" xmlns="http://www.w3.org/2000/svg" width="1230" height="608" viewBox="-615 -304 1230 608" preserveAspectRatio="xMidYMid">
    </svg>
    <button id='skip-intro-animation-button'>Skip intro</button>
</div>