<section id="work">

    <div id="scroll-content">
        <div id="projects-line">
            <div id="arrow-sign"></div>
        </div>
    </div>
</section>

<!-- image preloading -->
<img class="dummyLoad hide translucent" src=<%=require( "../assets/images/GitHub-lit.png")%>>
<img class="dummyLoad hide translucent" src=<%=require( "../assets/images/GitHub.png")%>>

<img class="dummyLoad hide translucent" src=<%=require( "../assets/images/screenShot-foodMart.png")%>>
<img class="dummyLoad hide translucent" src=<%=require( "../assets/images/screenShot-CRM.png")%>>
<img class="dummyLoad hide translucent" src=<%=require( "../assets/images/screenShot-mp3Player.png")%>>
<img class="dummyLoad hide translucent" src=<%=require( "../assets/images/screenShot-imgRecon.png")%>>